@import '@/styles/_helpers.scss';

.mainWrapper {
  @apply m-40;
  margin-top: toRem(90);

  @media screen and (max-width: 992px) {
    @apply m-20;
  }

  @media screen and (max-width: 576px) {
    @apply m-5;
  }

  ul {
    @apply list-disc mt-4 mb-4;

    li {
      font-size: toRem(14);
      margin-bottom: toRem(10)
    }
  }

  table {
    @apply w-full border-collapse mt-3;
    border: toRem(1) solid rgba(0, 0, 0, 0.3);
    font-size: toRem(14);

    td,
    th {
      @apply px-3 py-3;
      border: toRem(1) solid rgba(0, 0, 0, 0.3)
    }
  }
}