.mainWrapper {
    @apply max-w-[56rem] mx-auto p-5;
    margin-top: toRem(90);
}

.cartWrapper {
    @apply grid grid-cols-2 pt-5;
}

.section {
    &__title {
        @apply flex justify-between pb-3 uppercase tracking-wide;
        border-bottom: toRem(1) solid rgba(0, 0, 0, 0.2);
        font-size: toRem(12);
    }

    &__productContainer {
        @apply flex gap-5 items-center justify-start;

        img {
            @apply size-[4rem] object-contain;
        }
    }

    &__textContainer {
        @apply fcol gap-1 uppercase;
        font-size: toRem(14);

        span:last-child {
            font-size: toRem(10);
        }
    }

}

.section__productWrapper,
.section__quantityWrapper {
    @apply mt-5 fcol gap-5;
}

.section__productContainer,
.quantityContainer {
    height: toRem(80)
}

.quantityContainer {
    @apply flex items-center justify-between;

    span:last-child {
        font-size: toRem(14)
    }
}

.addMinusContainer {
    @apply flex gap-1 h-8 w-20 items-center justify-evenly select-none;
    border: toRem(1) solid rgba(0, 0, 0, 0.2);

    .qty {
        @apply font-bold;
        font-size: toRem(12)
    }

    svg {
        @apply opacity-25 size-2;
    }
}