@import '@/styles/_helpers.scss';

.mainWrapper {
    @apply p-5 mx-40;
    margin-top: toRem(90);

    @media screen and (max-width: 992px) {
        @apply mx-20;
    }

    @media screen and (max-width: 576px) {
        @apply mx-5;
    }
}

.supportWrapper {
    @apply flex flex-col justify-center items-start gap-5 pb-10;

    >span {
        @apply pr-3 font-bold underline underline-offset-4 cursor-pointer;
        font-size: toRem(30);

    }
}

.footer {
    @apply font-[500];
    font-size: toRem(15);
}