@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

// :root {
// --background: #f0f0f0;  /* Set the background color you want */
// --foreground: #333;
// --primary: 'black';
// --heroui-primary: 'white';

// &.dark {
// --primary: 'white';
// --heroui-primary: 'black';
// }
// }

.ant-qrcode.footer-qr {
  padding: 1px;
  border-radius: 0px;
  height: 65px !important;
  width: 75px !important;
}

// .customBtn1 {
//   @apply bg-white text-black dark:bg-black dark:text-white;
// }