@import '@/styles/_helpers.scss';

.footerContainer {
    @apply relative bg-[#151515] text-white p-12 py-24;
    grid-template-columns: 1fr 3fr;

    h2 {
        @apply pb-10;
        font-weight: 500;
    }

    @media screen and (max-width: 576px) {
        @apply p-6;

        h2 {
            @apply pb-5;
        }
    }
}

.footerWrapper {
    @apply flex gap-5 pb-14;


    div:first-child {
        width: toRem(300);

        h2 {
            @apply flex justify-between items-center;
        }
    }

    @media screen and (max-width: 576px) {
        @apply flex-col;

        div:first-child {
            width: auto;
        }
    }
}

.menuContainer {
    @apply flex flex-col gap-3;
    font-weight: 300;
    font-size: toRem(14);
}

.socmedContainer {
    @apply flex gap-5;

    svg {
        @apply size-[1.2rem];
    }
}

.dropdownContainer {
    @apply flex gap-4 pb-5;

    div {
        @apply flex items-center justify-center gap-1 border-2 p-2 px-3;
        border: toRem(0.3) solid rgba(255, 255, 255, 0.15);
        font-size: toRem(12);
    }
}

.tradeMark {
    color: rgba(255, 255, 255, 0.7);
    font-size: toRem(12);
}

.plusIcon,
.minusIcon {
    @media screen and (min-width: 992px) {
        @apply hidden;
    }
}