@import '@/styles/_helpers.scss';

.navbarWrapper {
    @apply gap-1 grid grid-cols-3 justify-items-center items-center px-[3rem] fixed w-full z-10;
    border-bottom: toRem(1) solid white;
    height: toRem(90);
    transition: all 0.3s ease-in;

    div {
        z-index: 10;
    }

    @media screen and (max-width: 576px) {
        @apply px-[0.5rem];
    }
}

.background {
    @apply absolute bg-white top-0 left-0 h-full w-full;
}

.leftBtnWrapper {
    @apply justify-self-start;
}

.rightBtnWrapper {
    @apply justify-self-end;

    @media screen and (max-width: 576px) {
        span {
            display: none;
        }
    }
}

.leftBtnWrapper,
.rightBtnWrapper {
    @apply flex items-center justify-center gap-3;
    font-size: toRem(15);


    span {
        position: relative;
        text-decoration: none;
        cursor: pointer;
    }

    span::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: toRem(1);
        background-color: black;
        transition: width 0.3s ease;
    }

    span:hover::before {
        width: 100%;
    }
}

.navTitle {
    @apply font-bold tracking-wider whitespace-nowrap;
    font-size: toRem(30);

    @media screen and (max-width: 576px) {
        font-size: toRem(20);
    }
}

.mobileBtnWrapper {
    @apply justify-self-start;
}